body {
  padding-top: 12px;
  color: red;
  background-color: #43A8BA;
}

.imageHeader {
  background-image: url("http://i.imgur.com/JuVmXjz.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  background-position: 30% 75%;
  width: 100%;

  height: 350px;
}

.plockTitle {
  text-align: center;
}

.plockDescription {
  font-size: 12px;

  margin-left: 20%;
  margin-right: 20%;
  padding-top: 10px;
}

.fa{
  color:#FCE69B;
  font-size: 100px;
}

.login {
margin-left: 40%;
margin-right: 40%;

}

.userInfo, .passwordInfo {
  margin: 5px;
  height: 30px;
  width: 250px;
  font-size: 15px;
  /*display: inline-block;*/
}

.submitButton {
background-color: #B378D3;
height: 30px;
}

.content {
  text-align: center;
  border-radius: 10px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}


.startingTab {
  background-color: #43A8BA;
  width: 100%;
  height: 1200px;
  position: absolute;
  z-index: 100;
  display: block;
}

.recommendations{

  display: inline-block;
  width: 40%;
}

.bookmarkTab{

  display: block;
}

.recTab{
  display: none;

}

.tabButtons {

  margin-left: 40%;
  margin-right: 40%;
  width: 350px;

}

.showBooksmarks, .showRecs {
  background-color: #B378D3;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  height: 40px;
  border-radius: 5px;
  width: 150px;
  z-index: -10;
}


.Section {
  background-color: gray;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  /*http://stackoverflow.com/questions/637921/opacity-of-background-color-but-not-the-text
  I learned about setting the opacity of just the background color with RBGA!*/
}

.Section2 {
  background-color: gray;
  vertical-align: middle;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  margin-top: 10px;

  /*http://stackoverflow.com/questions/637921/opacity-of-background-color-but-not-the-text
  I learned about setting the opacity of just the background color with RBGA!*/
}





h1{
  font-family: "Shadows Into Light";
  font-size: 150px;
  color:#B378D3;
  display: block;
}

.savedBookmarksHeader{
  color:#B378D3;
  font-size: 30px;
  text-decoration: underline;
  font-family: serif;
  vertical-align: middle;
  padding-top: 5px;
}

input {
  height: 20px;
  width: 150px;
  border-radius: 5px;
  font-family: serif;
  font-size: 25px;
  margin-top: 8px;
}

.submissions {

}
.description {
  padding-bottom: 5px;
  font-size: 16px;
}

.savedBookmarkList {
border: 1px solid gold;
}

.Bookmark1, .Bookmark2, .Bookmark3, .Bookmark4, .Bookmark5, .Bookmark6, .Bookmark7, .Bookmark8{
  width: 400px;
  height: 125px;
  border: 2px solid white;
  margin-left: 5%;
  /*margin-right: auto;*/
  margin-top: 5px;
  padding-left: 5px;
  border-radius: 5px;
  display: inline-block;
}
.bookmarkPhoto {
  height: 125px;
  width: 125px;
  border-radius: 10px;
  float: left;
}

.bookmarkDetails .nameofBookmark {
display: inline-block;
color: white;
font-size: 25px;
}

.bookmarkDetails .descriptionofBookmark {
  color: blueviolet;
}

.bookmarkDetails .URLofBookmark {
color: blue;
}

.nameofBookmark, .descriptionofBookmark, .URLofBookmark {
  text-align: center;
  color:gold;
  font-size: 14px;
}

}







/*
  Simple Grid
  Project Page - http://thisisdallas.github.com/Simple-Grid/
  Author - Dallas Bass
  Site - http://dallasbass.com
*/


[class*='grid'],
[class*='col-'],
[class*='mobile-'],
.grid:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

[class*='col-'] {
	float: left;
  	min-height: 1px;
	padding-right: 20px; /* column-space */
}

[class*='col-'] [class*='col-']:last-child {
	padding-right: 0;
}

.grid {
	width: 100%;
	max-width: 1140px;
	min-width: 748px; /* when using padded grid on ipad in portrait mode, width should be viewport-width - padding = (768 - 20) = 748. actually, it should be even smaller to allow for padding of grid containing element */
	margin: 0 auto;
	overflow: hidden;
}

.grid:after {
	content: "";
	display: table;
	clear: both;
}

.grid-pad {
	padding-top: 20px;
	padding-left: 20px; /* grid-space to left */
	padding-right: 0; /* grid-space to right: (grid-space-left - column-space) e.g. 20px-20px=0 */
}

.push-right {
	float: right;
}

/* Content Columns */

.col-1-1 {
	width: 100%;
}

@media handheld, only screen and (max-width: 767px) {
	.grid {
		width: 100%;
		min-width: 0;
		margin-left: 0;
		margin-right: 0;
		padding-left: 20px; /* grid-space to left */
		padding-right: 10px; /* grid-space to right: (grid-space-left - column-space) e.g. 20px-10px=10px */
	}

	[class*='col-'] {
		width: auto;
		float: none;
		margin: 10px 0;
		padding-left: 0;
		padding-right: 10px; /* column-space */
	}

	[class*='col-'] [class*='col-'] {
		padding-right: 0;
	}

	/* Mobile Layout */

	[class*='mobile-col-'] {
		float: left;
		margin: 0 0 10px;
		padding-left: 0;
		padding-right: 10px; /* column-space */
		padding-bottom: 0;
	}

  .login {
  border: 3px solid red;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 65px;
  }

  .description {
    padding-bottom: 5px;
    font-size: 24px;
  }

	.mobile-col-1-1 {
		width: 100%;
	}
